body {
	background-color: black;
    color: #e1f2f5;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	background-image: url('images/bear_8.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.centre {
	font-size: 15px;
	margin: auto;
	width: 640px;
}

.box {
	border: 1px solid #555555;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	break-inside: avoid;
	white-space: nowrap;
	overflow: hidden;
}

.row-border {
	border-bottom: 1px solid #555555;
}

.row-no-border {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	break-inside: avoid;
	white-space: nowrap;
	overflow: hidden;
}
  
.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	padding: 4px;
}

.caption {
	font-weight: bold;
	font-size: 1.1em;
}

.bonus-cell {
	/*margin-right: 5px;*/
	padding: 4px;
}

.colour-heirloom {
    color: #0cf;
}

.colour-rare {
	color: #0081ff;
}

.colour-epic {
	color: #c600ff;
}

.colour-druid {
    color: #ff7c0a;
}
