body, html {
	background-color: #202124;
	font-family: Open Sans,Arial,Helvetica,sans-serif;
	color: #ffffff;
	background-image: url('images/bear_1.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.content {
	max-width: 1000px;
	margin: auto;
}

.color-rare {
	color: #0081ff;
}

.color-epic {
	color: #c600ff;
}

.color-heirloom {
    color: #0cf;
}

.button {
	font-size: 16px;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 4px;
}

tr:nth-child(even) { 
	background-color: rgba(40,41,45,.33); 
}