body, html {
	background-color: #202124;
	font-family: Open Sans,Arial,Helvetica,sans-serif;
	color: #ffffff;
	font-weight: 300;
}

.color-rare {
	color: #0081ff;
}

.color-epic {
	color: #c600ff;
}

.button {
	font-size: 18px;
}

th, td
{
	padding-left: 4px;
	padding-right: 4px;
}